<div class="container">
  <div class="header" [style.padding-bottom.px]="isContainerExpanded ? '25' : '0'">
    <ng-content select="[title]"></ng-content>
    <img class="chevron"
         src="assets/images/circle-open-chevron.svg"
         [ngClass]="{'rotate-chevron': isContainerExpanded}"
         (click)="onChevronToggle()" />
  </div>
  <div class="ep-slider"
       [class.closed]="!isContainerExpanded">
    <ng-content *ngIf="isContainerExpanded" select="[body]"></ng-content>
  </div>
</div>
