.container {
  border-radius: 10px;
  background-color: #FFF;
  border: 1px solid var(--color-1-grey-4, #D7DADF);
  width: 430px;
  padding: 23px 28px 26px 28px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-1-blue-2, #2B3242);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.chevron {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .5s transform;
}

.rotate-chevron {
  transform: rotate(180deg);
}
