.workflow-container {
  display: flex;
  height: 65vh;
}

.launch-workflow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

.launch-workflow-container > img {
  margin-bottom: 35px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 405px;
  height: 40px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 462.02px;
  height: 84px;
  font-size: 0.875rem;
  text-align: center;
  color: #87919f;
}

.diagram-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 50px;
}