<ep-section-header sectionTitle="user-profile.commands-in-autodesk">
</ep-section-header>
<div class="description-and-actions">
  <span class="description">
    {{'user-profile.autodesk-commands-description' | Translate}}
  </span>
  <div class="actions">
    <button ep-button (click)="onAutodeskSearchEnabledChange(true)">
      {{'user-profile.activate-autodesk-commands' | Translate}}
    </button>
    <button ep-button (click)="onAutodeskSearchEnabledChange(false)">
      {{'user-profile.deactivate-autodesk-commands' | Translate}}
    </button>
  </div>
</div>
