<div class="my-account-background" *ngIf="currentUser$ | async as currentUser else isLoading">
  <ep-user-details-header [headerStyles]="headerStyles"
                          [currentUser]="currentUser"
                          [currentTenantDetails]="currentTenantDetails">
  </ep-user-details-header>
  <ep-horizontal-tabs [tabs]="tabs"
                      [activeTabKey]="activeTabKey"
                      [underlineAlways]="true"
                      [pointerOnHover]="true"
                      (onTabChange)="activeTabKey = $event">
  </ep-horizontal-tabs>
  <div class="main-container" [ngSwitch]="activeTabKey">
    <ng-container *ngSwitchCase="'accountInfo'">
      <div class="left-container">
        <ep-autodesk-product-commands *ngIf="areUserToolsInstalled"
                                      [currentUserId]="currentUser.userId"
                                      [currentTenantDetails]="currentTenantDetails" />
      </div>
      <div class="right-container">
        <ep-update-language-section />
        <ep-update-password-section />
        <ep-download-add-ons />
      </div>
  </ng-container>
  </div>
</div>
<ng-template #isLoading>
  <ep-loading></ep-loading>
</ng-template>
