.rating-input-footer-container {
    padding-right: 18px;
    margin-top: -6px;
}

img.floating-lock-image {
    position: absolute;
    right: 13rem;
    top: 37px;
    pointer-events: none;
    height: 20px;
    width: 20px;
}

.floating-form {
    height: 57px;
    padding-top: 24px;
}