/* BORDER RADIUS */
.rounded-none {
    border-radius: 0px;
}

.rounded-sm {
    border-radius: 0.125rem; /* 2px */
}

.ep-rounded {
    /* !important due to conflicting name with bootstrap class */
    border-radius: 0.25rem; /* 4px */
}

.rounded-md {
    border-radius: 0.375rem; /* 6px */
}

.rounded-lg {
    border-radius: 0.5rem; /* 8px */
}

.rounded-xlg {
    border-radius: 0.625rem; /* 10px */
}

.rounded-xl {
    border-radius: 0.75rem; /* 12px */
}

.rounded-2xl {
    border-radius: 1rem; /* 16px */
}

.rounded-full {
    border-radius: 9999px; /* circle */
}

.rounded-b {
    border-bottom-right-radius: 0.25rem; /* 4px */
    border-bottom-left-radius: 0.25rem; /* 4px */
}