/* TEXT COLORS */
.color-subtext {
  color: #87919f;
}

/* TEXT HIGHLIGHTS */
.search-highlight-text {
  background-color: var(--active-nav-item-background);
  color: white;
}

.results-card-highlight {
  /*    background-color: rgba(255, 245, 0, 0.25);*/
  background-color: #fffbc3;
}
