.global-search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 1rem;
  cursor: pointer;
  height: 1rem;
}

.global-search-field {
  font-family: var(--font-family) !important;
  padding: 20px 8px 17px;
  width: 323px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d7dadf;
  border-radius: 10px;
  text-indent: 2rem;
}

.global-search-field:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
