/* HEIGHT */
.h-full {
    height: 100%;
}

/* WIDTH */
.w-full {
    width: 100%;
}

/* IMAGES/ICONS DIMESIONS */
.img-xs {
    height: 10px;
    width: 10px;
}

.img-sm {
    height: 12px;
    width: 12px;
}

.img-md {
    height: 18px;
    width: 18px;
}

.img-base {
    height: 20px;
    width: 20px;
}

.img-lg {
    height: 40px;
    width: 40px;
}