:host {
  all: initial;
}

.description-container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2B3242;
}

.e-rte-table {
  border-collapse: collapse;
  empty-cells: show;
}

.e-rte-table td, .e-rte-table th {
  border: 1px solid #bdbdbd;
  height: 20px;
  min-width: 20px;
  padding: 2px 5px;
  vertical-align: middle;
}
