.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate-link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 8px 17px;
  margin-bottom: 20px;
}

.partially-completed {
  width: 500px;
}

.partially-completed > img {
  margin-bottom: 20px;
}

.drop-course {
  width: 575px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.subtext {
  text-align: center;
}

.btn-override {
  margin-top: 40px;
  border-radius: 50px;
  height: fit-content;
}