<div class="header-container">
  <div>
    <h2 class="title">{{ sectionTitle }}</h2>
    <div class="subtitle">
      <ng-container [ngSwitch]="section">
        <ng-container *ngSwitchCase="HomeSection.ASSIGNMENTS">{{ "home-section.subtitle-part-1" | Translate }}
          <span style="color: var(--secondary-color); font-weight: 700">{{ items?.length }} {{
            "home-section.subtitle-part-2" | Translate }}</span></ng-container>
        <ng-container *ngSwitchCase="HomeSection.LIBRARIES">{{
          "home-section.libraries-title" | Translate
          }}</ng-container>
      </ng-container>
    </div>
  </div>

  <button *ngIf="items?.length > numVisible" ep-button buttonShape="pill" [routerLink]="link">
    {{ "home-section.view-all" | Translate }}
  </button>
</div>

<div class="library-carousel-content-container">
  <ng-container *ngIf="items?.length; else noData">
    <p-carousel [value]="items?.slice(0, MAX_ITEMS)" [numVisible]="numVisible" [numScroll]="numScroll">
      <ng-template let-item pTemplate="item">
        <ng-container [ngSwitch]="section">
          <ep-library-card *ngSwitchCase="HomeSection.LIBRARIES" [library]="item"></ep-library-card>
          <ep-assignment-card *ngSwitchCase="HomeSection.ASSIGNMENTS" [assignment]="item"></ep-assignment-card>
        </ng-container>
      </ng-template>
    </p-carousel>
  </ng-container>
</div>

<ng-template #noData>
  <div *ngIf="section === HomeSection.LIBRARIES" class="no-results">
    <span class="no-results-title">{{ "home-section.no-results-title" | Translate }}</span>
    <span class="no-results-subtitle">
      {{ "home-section.no-results-subtitle" | Translate }}
    </span>
    <button ep-button [gap]="0" buttonShape="pill" style="margin-top: 1.5rem; width: fit-content;"
      (click)="onContactSupport()">
      <img src="assets/images/question.svg" style="margin-right: 0.5rem;" />
      <span class="contact-support-text">
        {{ "home-section.contact-support" | Translate }}
      </span>
    </button>
  </div>
</ng-template>