:host {
  position: relative;
  margin-left: 30px;
}

.content-details-panel {
  display: flex;
  flex-direction: column;
  width: 472px;
  padding: 35px 50px 0 50px;
  height: 100%;
  background: linear-gradient(11.08deg, #F7F9FE 79.83%, rgba(247, 249, 254, 0.766481) 92.46%, rgba(247, 249, 254, 0) 116.57%);
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E7;
  min-height: 50px;
  box-shadow: -4px 0 6px #f1f1f1;
  transition: all 500ms;
}

.panel-collapsed {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.content-details-panel h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2B3242;
}

.content-details-panel hr {
  border: 1px solid #D7DADF;
  margin: 0;
  width: 290px;
}

.content-details-panel hr:last-child {
  display: none;
}

.content-image-div {
  background-color: lightgray; 
  width: 287px; 
  height:173px; 
  border-radius:10px;
  overflow:hidden;
  margin-top: 15px;
}

.details-section {
  margin-top: 30px;
  margin-bottom: 35px;
}

.details-section-right {
  margin-right: 70px;
}

.details-section-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.attribute {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.attr-label-group {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  margin-right: 20px;
  min-width: 110px;
  max-width: 110px;
}

.attribute-label {
  color: #87919F; 
  font-size: 0.875rem;
}

.keyword {
  border-radius: 50px;
  padding: 15px;
  background: rgba(216, 228, 255, 0.6);
  margin-right: 5px;
  margin-bottom: 5px;
}

.expert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.expert-info {
  display: flex;
  align-items: center;
}

.expert-info ep-user-profile-image {
  margin-right: 7px;
}

.able-highlight{
    background-color:red !important;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
