.p-overlaypanel {
  border: none;
  box-shadow: none;
  background: transparent;
}

.p-overlaypanel::before,
.p-overlaypanel::after {
  display: none;
}

.p-overlaypanel-flipped {
  /*transform: translateY(-10px) !important;*/
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0;
}
