.general-page {
  background-color: var(--page-background-color);
  overflow: hidden;
  height: 100%;
}

.general-page.theme-loading {
  visibility: hidden;
}

.general-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* PEAK EXPERIENCE STYLES - MAY BE TEMPORARILY IN THIS SPOT */
.right-panel {
  min-height: 0;
  height: 100%;
  z-index: 1;
  padding-top: 15px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 0;
  background: var(--page-background-color);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.page-bg-img {
  position: absolute;
  width: 100%;
  height: 58vh;
  opacity: 0.1;
  pointer-events: none;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, transparent 100%);
}

ep-dropdown-menu {
  position: absolute;
}
