:host {
    border-radius: 10px;
    padding: 16px 18px;
    height: 54px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    line-height: 1.5;
}
.buttonFlex {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  font-family: var(--font-family) !important;
}

:host(.btn-primary) {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

:host(.btn-primary) img {
    filter: brightness(0) invert(1);
}

:host(.btn-light) {
    border: 1px solid #d7dadf;
    background-color: white;
    color: #636d7b;
}

:host(.btn-light) img {
    color: #636d7b;
}

:host(.btn-danger) {
    border: none;
    background-color: #f86161;
    color: white;
}

:host(.btn-danger) img {
    filter: brightness(0) invert(1);
}

:host(.btn-secondary) {
    border: none;
    background-color: var(--secondary-color);
    color: white;
}

:host(.btn-secondary) img {
    filter: brightness(0) invert(1);
}

:host(.btn-green) {
    border: none;
    background-color: #41CC84;
    color: white;
}

:host(.btn-green) img {
    filter: brightness(0) invert(1);
}

:host(.pill) {
    border-radius: 50px;
    padding: 8px 20px;
    height: 36px;
}

:host(a) {
    text-decoration: none;
}
