.content-header {
  border-bottom: 1px solid #d7dadf;
  padding-bottom: 22px;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  margin: 0 50px;
}

.content-header-left {
  display: flex;
  align-items: center !important;
  column-gap: 20px;
}

.content-header-icon {
  width: 54px;
  height: 54px;
  max-width: 54px;
  max-height: 54px;
}

.content-header-text {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  color: #2b3242;
}

.content-header-right{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}
