.bg-grey {
    background-color: #f2f2f2;
}

.completed-bg-green {
    background-color: rgba(224, 248, 235, 0.5);
}

.dropped-bg-red {
    background-color: #FEEBEB;
}

.text-grey {
    color: #636D7B;
}

.completed-text-green {
    color: #41CC84;
}

.dropped-text-red {
    color: #F74C4C;
}