.assignment-history-container {
  padding: 2rem 0;
  position: relative;
}

.no-result-container {
  margin: 8rem auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.name-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -6px 0;
}

.flex-row {
    display: flex;
    align-items: center;
}
