:host {
  padding: 20px 15px 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.right-header {
  align-items: center;
}

.content-type-icon {
  height: 30px;
  width: 30px;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid rgb(215, 218, 223);
  padding-top: 20px;
}

.content-wrap {
  width: 1136px;
  max-width: 90vw;
  max-height: 75vh;
  overflow: auto;
  // This padding will prevent scrollbar
  padding-bottom: 4px; 
}
