/* You can add global styles to this file, and also import other style files */
/* Imports */
@import "@angular/cdk/overlay-prebuilt.css";
@import "styles/base.scss";
@import "styles/borders.scss";
@import "styles/color.scss";
@import "styles/interactivity.scss";
@import "styles/layout.scss";
@import "styles/sizing.scss";
@import "styles/spacing.scss";
@import "styles/typography.scss";
@import "styles/toast.scss";
@import "styles/global-search.scss";
@import "styles/primeng/primeng.scss";


@font-face {
  font-family: "Source Serif Pro";
  src: url('./assets/fonts/Source_Serif/SourceSerif.ttf') format('truetype')
}

@font-face {
  font-family: "Quicksand";
  src: url('./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype')
}

@font-face {
  font-family: "Eczar";
  src: url('./assets/fonts/Eczar/Eczar.ttf') format('truetype')
}

@font-face {
  font-family: "Josefin Sans";
  src: url('./assets/fonts/Josefin-Sans/Josefin-Sans.ttf') format('truetype')
}

@font-face {
  font-family: "Playfair Display";
  src: url('./assets/fonts/Playfair-Display/Playfair-Display.ttf') format('truetype')
}

:root {
  // Theme Vars
  // ensure changes to names here are reflected in ALL associated .scss and theme-vars.ts files
  --navigation-color-hue: 222;
  --navigation-color-saturation: 21%;
  --navigation-color-lightness: 21%;
  --navigation-color: hsl( var(--navigation-color-hue), var(--navigation-color-saturation), var(--navigation-color-lightness) );
  --high-contrast-navigation-color: white;
  --primary-color-hue: 149;
  --primary-color-saturation: 58%;
  --primary-color-lightness: 53%;
  --primary-color: hsl(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness));
  --high-contrast-primary-color: white;
  --secondary-color-hue: 222;
  --secondary-color-saturation: 100%;
  --secondary-color-lightness: 69%;
  --secondary-color: hsl( var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness) );
  --high-contrast-secondary-color: white;
  --font-family: sans-serif;
  --active-nav-item-background: hsl( var(--navigation-color-hue), var(--navigation-color-saturation), calc(var(--navigation-color-lightness) * 0.75) );
  --page-background-color: hsl(var(--navigation-color-hue), var(--navigation-color-saturation), 98%);
  --selected-item-highlight-color: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 95%);
  // Generic Colors
  --color-1-mint-1: #41cc84;
  --color-1-blue-1: #1f283a;
  --color-1-blue-2: #2b3242;
  --color-1-blue-3: #485674;
  --color-1-grey-1: #636d7b;
  --color-1-grey-2: #87919f;
  --color-1-grey-3: #afb6bf;
  --color-1-grey-4: #d7dadf;
  --color-1-royal-1: #6391ff;
  --color-1-highlight-border: #80bdff;
  --color-1-red-1: #f86161;
  --zoom: 0.87;
  --zoom-ignore: 1.14942528736; // 1 / 0.87
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  overflow: hidden;
  zoom: var(--zoom);
}

.toast-top-center {
  top: 1rem !important;
}

.cdk-overlay-container:has(.overlay-backdrop) {
  background-color: rgba(0, 0, 0, 0.75);
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 1rem;
}

/* if any overlay panel has an ep-spinner active in it, override default background */
.overlay-panel:has(ep-spinner) {
  background-color: transparent;
}

.actual-scale {
  zoom: 1.149;
}

/* TEMP OVERRIDE ANY OLD BOOTSTRAP TILL IT'S ALL REMOVED*/
.mb-3 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  font-size: 0.875rem;
}

.form-select {
  border: 1px solid #999;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  font-size: 0.875rem;
}

.form-control:focus,
.form-select:focus {
  outline: none !important;
  border: 1px solid #bbb;
  box-shadow: 0 0 8px #bbb;
}
/* TEMP OVERRIDE ANY OLD BOOTSTRAP TILL IT'S ALL REMOVED*/

/* Style for the test truncate directive */
.ep-text-truncate {
  position: relative;
  .text-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .full-text-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
    color: var(--color-1-blue-2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;
  }

  &:hover .full-text-card {
    opacity: 1;
    height: unset;
    transition: all 300ms 500ms;
  }
}

.e-rte-table {
  border-collapse: collapse;
  empty-cells: show;
}

.e-rte-table td, .e-rte-table th {
  border: 1px solid #bdbdbd;
  height: 20px;
  min-width: 20px;
  padding: 2px 5px;
  vertical-align: middle;
}