/* You can add global styles to this file, and also import other style files */
/* Imports */
@import '@angular/cdk/overlay-prebuilt.css';
@import "styles/base.scss";
@import "styles/borders.scss";
@import "styles/color.scss";
@import "styles/interactivity.scss";
@import "styles/layout.scss";
@import "styles/sizing.scss";
@import "styles/spacing.scss";
@import "styles/typography.scss";
@import "styles/toast.scss";
@import "styles/global-search.scss";
@import "styles/primeng/primeng.scss";

:root {
  --navbar-color: hsl(var(--navbar-color-hue), var(--navbar-color-saturation), var(--navbar-color-lightness));
  --navbar-color-hue: 222;
  --navbar-color-saturation: 21%;
  --navbar-color-lightness: 21%;
  --primary-color: hsl(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness));
  --primary-color-hue: 149;
  --primary-color-saturation: 58%;
  --primary-color-lightness: 53%;
  --primary-text-color: white;
  --secondary-color: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness));
  --secondary-color-hue: 222;
  --secondary-color-saturation: 100%;
  --secondary-color-lightness: 69%;
  --secondary-text-color: white;
  --page-background-color: hsl(var(--navbar-color-hue), var(--navbar-color-saturation), 98%);
  --table-select-clor: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 95%);
  --color-1-mint-1: #41CC84;
  --color-1-blue-1: #1F283A;
  --color-1-blue-2: #2B3242;
  --color-1-blue-3: #485674;

  --color-1-grey-1: #636D7B;
  --color-1-grey-2: #87919F;
  --color-1-grey-3: #AFB6BF;
  --color-1-grey-4: #D7DADF;
  --color-1-royal-1: #6391FF;
  --color-1-highlight-border: #80bdff;

  --color-1-red-1: #F86161;
  --zoom: 0.87;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  overflow: hidden;
  zoom: var(--zoom);
}

.toast-top-center {
  top: 1rem !important;
}

.cdk-overlay-container:has(.overlay-backdrop) {
  background-color: rgba(0, 0, 0, 0.75);
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 1rem;
}

/* if any overlay panel has an ep-spinner active in it, override default background */
.overlay-panel:has(ep-spinner) {
  background-color: transparent;
}

.actual-scale{
  zoom: 1.149;
}

/* TEMP OVERRIDE ANY OLD BOOTSTRAP TILL IT'S ALL REMOVED*/
.mb-3 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  font-size: 0.875rem;
  font-family: 'Roboto';
}

.form-select {
  border: 1px solid #999;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  font-size: 0.875rem;
}

.form-control:focus,
.form-select:focus {
  outline: none !important;
  border:1px solid #bbb;
  box-shadow: 0 0 8px #bbb;
}
/* TEMP OVERRIDE ANY OLD BOOTSTRAP TILL IT'S ALL REMOVED*/

/* Style for the test truncate directive */
.ep-text-truncate {
  position: relative;
  .text-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .full-text-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
    color: var(--color-1-blue-2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;
  }

  &:hover .full-text-card {
    opacity: 1;
    height: unset;
    transition: all 300ms 500ms;
  }
}
