<ep-dialog-base class="container-padding">
  <ng-container title>
    <div class="header">
      <span></span>
      {{'user-profile.change-password' | Translate}}
      <img class="close-img" (click)="close(false)" src="assets/images/close.svg" />
    </div>
  </ng-container>
  <ng-container content>
    <form [formGroup]="passwordChangeForm" class="form-inputs">

      <div class="input-div">
        <input type="password"
               maxlength="20"
               formControlName="currentPassword"
               placeholder="{{'user-profile.old-password' | Translate}}" />
      </div>

      <div class="input-div">
        <input type="password"
               maxlength="20"
               formControlName="newPassword"
               placeholder="{{'user-profile.new-password' | Translate}}" />
      </div>

      <div class="input-div">
        <input type="password"
               maxlength="20"
               formControlName="confirmNewPassword"
               placeholder="{{'user-profile.re-enter-new-password' | Translate}}" />
      </div>
    </form>
    <p class="error-message" *ngIf="validationError">{{validationError}}</p>
    <ul class="validation-strings">
      <li *ngFor="let validationString of validationStrings">
        {{validationString}}
      </li>
    </ul>
  </ng-container>
  <ng-container actions>
    <div class="button-container">
      <button ep-button (click)="close(false)">{{'common.cancel' | Translate}}</button>
      <button ep-button buttonType="green" (click)="submitPasswordChange()">{{'common.save' | Translate}}</button>
    </div>
  </ng-container>
</ep-dialog-base>
