.header {
  color: #1F283A;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
}

.close-img {
  cursor: pointer;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
  height:208px;
}

.form-inputs input {
  border: none;
  font-size: 16px;
}

.input-div {
    width:100%;
    height: 56px;
    padding: 19px 14px;
    border: 1px solid #D7DADF;
    border-radius: 10px;
}

.input-div input {
    width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  border-top: 1px solid rgb(215, 218, 223);
  padding-top: 32px;
}

.validation-strings {
  list-style: none;
  color: #87919F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 14px !important;
  margin-top:18px;
}

.error-message {
    margin-top: 20px;
    color: red;
    font-size: 16px;
    padding-left: 14px;
}

.container-padding {
    display: flex !important;
    width: 100%;
    padding: 28px 10px 20px 10px;
}
