<ep-loading [isLoaded]="isLoaded$ | async">
  <ep-dialog-base>
    <ng-container title>
      <div class="title">{{ "assignments.enrollment-details" | Translate }}</div>
      <div class="close-button" (click)="close(false)">
        <img class="dropdown cursor-pointer close-icon" src="assets/images/close.svg" alt="close" />
      </div>
    </ng-container>

    <ng-container content>
      <div class="enrollment-details">
        <div class="row">
          <div class="left-wrap">
            <div class="name-wrap">
              <div class="learning-path-name-wrap">
                <div class="learning-path-name">
                  {{ data.assignmentHistory?.learningPathName }}
                </div>
                <ep-assignment-bookmark [contentId]="data.assignmentHistory?.courseId" [isWhite]="false" />
              </div>
              <div class="course-name">
                {{ data.assignmentHistory?.name }}
              </div>
            </div>
            <div>{{ "assignments.assigned-by" | Translate }}: {{ data.assignmentHistory?.assignedBy || "N/A" }}</div>
            <div data-testid="certificate-status">
              {{ "assignments.certificate-status" | Translate }}:

              <ng-container *ngIf="certificate; else certificateLoading">
                {{ certificateUnavailableReason | Translate }}
              </ng-container>

              <ng-template #certificateLoading>
                {{ "assignments.certificate-loading" | Translate }}
              </ng-template>
            </div>
          </div>
          <div class="right-wrap">
            <div [ngStyle]="data.assignmentHistory?.statusStyles" class="status-chip">
              <img [src]="data.assignmentHistory?.statusIcon" />
              {{ data.assignmentHistory?.statusLabel }}
            </div>
            <div>{{ "assignments.percent-reviewed" | Translate }}: {{ data.assignmentHistory?.progress }}%</div>
            <div>{{ "assignments.view-time" | Translate }}: {{ (viewDuration$ | async)?.viewDurationDisplay }}</div>
          </div>
        </div>
      </div>

      <div class="quiz-overview">
        <div class="title">{{ "assignments.quiz-overview" | Translate }}</div>

        <p-table
          *ngIf="quizzes?.length; else noQuiz"
          [value]="quizzes"
          [scrollable]="true"
          scrollHeight="250px"
          class="quiz-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>{{ "assignments.name" | Translate }}</th>
              <th>{{ "assignments.attempts" | Translate }}</th>
              <th>{{ "assignments.highest-score" | Translate }}</th>
              <th>{{ "assignments.most-recent-completion" | Translate }}</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-quiz>
            <tr>
              <td>{{ quiz.name }}</td>
              <td>{{ quiz.attempts }}</td>
              <td>
                {{ quiz.quizAnswersCorrect }}/{{ quiz.quizAnswersPossible }}({{
                  (quiz.quizAnswersCorrect / quiz.quizAnswersPossible) * 100 | number: "1.0"
                }}%)
              </td>
              <td>{{ (quiz.lastCompletionDate | epDate) || ("assignments.skipped" | Translate) }}</td>
              <td>
                <div class="actions-wrap">
                  <ep-quiz-menu [quizSummary]="quiz" [enrollId]="data.enrollId" [courseId]="data.courseId" />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <ng-template #noQuiz>
          <div class="no-quizzes">
            <div>{{ "assignments.no-quizzes" | Translate }}</div>
          </div>
        </ng-template>
      </div>
    </ng-container>

    <ng-container actions>
      <div class="button-container">
        <button ep-button (click)="close()">{{ "common.close" | Translate }}</button>
        <button
          ep-button
          buttonType="green"
          data-testid="download-button"
          [disabled]="!certificate?.useAsDefault"
          (click)="downloadCertificate(certificate?.docUrl)"
        >
          {{ "assignments.download-certificate" | Translate }}
        </button>
      </div>
    </ng-container>
  </ep-dialog-base>
</ep-loading>
